@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.row {
  margin-bottom: 16px;

  label {
    display: block;
    margin-bottom: 4px;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid $color-gray-border;
  }
}

.error {
  color: $danger;
}

.button {
  padding: 8px 16px;
  background-color: $color-white;
  border: 1px solid $color-gray-border;
  border-radius: $button-border-radius;
  cursor: pointer;
}
