@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.root {
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  margin-left: 14px;
  margin-right: 14px;
}

@include breakpoint-lg {
  .quote p {
    font-size: $typographic-base-font-size * 1.25;
    @include line-height(1.35);
  }
}
